.introTagline {
  animation: 3s ease-out 0s 1 TitleTransition;
  font-family: "Poppins Regular", monospace;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.2rem;
}

@keyframes TitleTransition {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  30% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutContent {
  font-family: "Kalam", monospace;
  font-size: 35px;
  margin: auto;
  max-width: 1200px;
  text-align: justify;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .aboutContent {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .aboutContent {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .aboutContent {
    font-size: 20px;
  }
}
